<!DOCTYPE html>
<html lang="en">
{% include 'dashboard/_head.html' %}
<body class="bg-gray-100">
{% include 'dashboard/_auth_overlay.html' %}
{% include 'dashboard/_profile_modal.html' %}
{% include 'dashboard/_assignment_edit_modal.html' %}
{% include 'dashboard/_header.html' %}
{% include 'dashboard/_search_overlay.html' %}
{% include 'dashboard/_import_dialog.html' %}
{% include 'dashboard/_share_dialog.html' %}
{% include 'dashboard/_toolbar.html' %}
{% include 'dashboard/_main_content.html' %}
{% include 'dashboard/_footer.html' %}
{% include 'dashboard/_chatbot.html' %}
{% include 'dashboard/_scripts.html' %}
{% include 'dashboard/_credential_modal.html' %}
{% include 'dashboard/_create_assignment_modal.html' %}
{% include 'dashboard/_credential_styles.html' %}
{% include 'dashboard/_export_modal.html' %}
{% include 'dashboard/_import_modal.html' %}
</body>
</html>
